[Unit]
Description=Sample Web Server Test
Requires=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=java -jar /opt/sample/service.jar
User=vboxuser
Restart=always
RestartSec=5
Environment="PORT=8888"
